<a href="https://colab.research.google.com/github/carlotamartin/Trazabilidad-de-los-toamtes/blob/main/1_Creaci%C3%B3n_de_datos_(2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## CREACIÓN DE LOS DATOS

### Importamos librerías

In [ ]:
import pandas as pd
import random

### TOMATE CHERRY REDONDO

In [ ]:
# Creamos una lista de los calibres
calibres = ['1', '2', '3']

# Creamos una lista de los meses de producción
meses_produccion = ['Sí']*4

# Creamos una lista de los valores posibles de Brix, acidez, Agua e Índice padurez
brix_valores = [round(random.uniform(6.7, 7.5), 2) for _ in range(1000)]
acidez_valores = [round(random.uniform(0.6, 0.7), 2) for _ in range(1000)]
agua_valores = [round(random.uniform(86, 88), 2) for _ in range(1000)]
indice_padurez_valores = [round(random.uniform(10.7, 11.3), 2) for _ in range(1000)]

# Creamos una lista de 1000 filas aleatorias
filas = []
for i in range(1000):
    fila = {'Tipo': 'Cherry Redondo',
            'Brix': brix_valores[i],
            'Acidez': acidez_valores[i],
            'Agua': agua_valores[i],
            'Índice padurez': indice_padurez_valores[i],
            'Calibre': random.choice(calibres),
            'Primavera': 'Sí',
            'Verano': 'No',
            'Otoño': 'Sí',
            'Invierno': 'Sí'}
    filas.append(fila)

# Creamos un DataFrame con las filas
cherry_redondo = pd.DataFrame(filas)

In [ ]:
cherry_redondo.head()

,Tipo,Brix,Acidez,Agua,Índice padurez,Calibre,Primavera,Verano,Otoño,Invierno
0,Cherry Redondo,6.87,0.62,86.65,10.71,1,Sí,No,Sí,Sí
1,Cherry Redondo,6.95,0.63,87.98,11.16,2,Sí,No,Sí,Sí
2,Cherry Redondo,7.46,0.66,86.03,11.26,1,Sí,No,Sí,Sí
3,Cherry Redondo,7.14,0.68,86.01,11.21,3,Sí,No,Sí,Sí
4,Cherry Redondo,7.12,0.61,86.82,11.29,2,Sí,No,Sí,Sí

## TOMATE CHERRY RAMA PERA

In [ ]:
# Creamos una lista de los calibres
calibres = ['1', '2', '3']

# Creamos una lista de los valores posibles de Brix, acidez, Agua e Índice padurez
brix_valores = [round(random.uniform(7.1, 8.9), 2) for _ in range(1000)]
acidez_valores = [round(random.uniform(0.42, 0.55), 2) for _ in range(1000)]
agua_valores = [round(random.uniform(84, 89), 2) for _ in range(1000)]
indice_padurez_valores = [round(random.uniform(14.1, 19.9), 2) for _ in range(1000)]

# Creamos una lista de 1000 filas aleatorias
filas = []
for i in range(1000):
    fila = {'Tipo': 'Cherry Pera',
            'Brix': brix_valores[i],
            'Acidez': acidez_valores[i],
            'Agua': agua_valores[i],
            'Índice padurez': indice_padurez_valores[i],
            'Calibre': random.choice(calibres),
            'Primavera': 'Sí',
            'Verano': 'No',
            'Otoño': 'Sí',
            'Invierno': 'Sí'}
    filas.append(fila)

# Creamos un DataFrame con las filas
cherry_pera = pd.DataFrame(filas)

In [ ]:
cherry_pera.head()

,Tipo,Brix,Acidez,Agua,Índice padurez,Calibre,Primavera,Verano,Otoño,Invierno
0,Cherry Pera,7.68,0.46,84.03,17.89,1,Sí,No,Sí,Sí
1,Cherry Pera,8.46,0.50,86.33,17.34,3,Sí,No,Sí,Sí
2,Cherry Pera,8.89,0.53,86.03,15.15,1,Sí,No,Sí,Sí
3,Cherry Pera,8.04,0.50,88.94,17.13,1,Sí,No,Sí,Sí
4,Cherry Pera,7.86,0.47,85.12,16.06,1,Sí,No,Sí,Sí

## TOMATE CHERRY RAMA

In [ ]:
# Creamos una lista de los calibres
calibres = ['1', '2', '3']

# Creamos una lista de los valores posibles de Brix, acidez, Agua e Índice padurez
brix_valores = [round(random.uniform(6.6, 8.1), 2) for _ in range(1000)]
acidez_valores = [round(random.uniform(0.7, 1), 2) for _ in range(1000)]
agua_valores = [round(random.uniform(81, 91), 2) for _ in range(1000)]
indice_padurez_valores = [round(random.uniform(7.8, 9.7), 2) for _ in range(1000)]

# Creamos una lista de 1000 filas aleatorias
filas = []
for i in range(1000):
    fila = {'Tipo': 'Cherry Rama',
            'Brix': brix_valores[i],
            'Acidez': acidez_valores[i],
            'Agua': agua_valores[i],
            'Índice padurez': indice_padurez_valores[i],
            'Calibre': random.choice(calibres),
            'Primavera': 'Sí',
            'Verano': 'No',
            'Otoño': 'Sí',
            'Invierno': 'Sí'}
    filas.append(fila)

# Creamos un DataFrame con las filas
cherry_rama = pd.DataFrame(filas)

In [ ]:
cherry_rama.head()

,Tipo,Brix,Acidez,Agua,Índice padurez,Calibre,Primavera,Verano,Otoño,Invierno
0,Cherry Rama,7.88,0.84,86.70,9.14,3,Sí,No,Sí,Sí
1,Cherry Rama,7.63,0.71,88.49,8.82,1,Sí,No,Sí,Sí
2,Cherry Rama,6.77,0.91,90.79,9.66,2,Sí,No,Sí,Sí
3,Cherry Rama,7.97,0.85,83.31,8.02,3,Sí,No,Sí,Sí
4,Cherry Rama,6.67,0.90,89.20,8.58,3,Sí,No,Sí,Sí

## TOMATE RAF

In [ ]:
# Creamos una lista de los calibres
calibres = ['6', '7', '8', '9']

# Creamos una lista de los valores posibles de Brix, acidez, Agua e Índice padurez
brix_valores = [round(random.uniform(6,9), 2) for _ in range(1000)]
acidez_valores = [round(random.uniform(0.55, 0.75), 2) for _ in range(1000)]
agua_valores = [round(random.uniform(92, 95), 2) for _ in range(1000)]
indice_padurez_valores = [round(random.uniform(10, 14), 2) for _ in range(1000)]

# Creamos una lista de 1000 filas aleatorias
filas = []
for i in range(1000):
    fila = {'Tipo': 'Raf',
            'Brix': brix_valores[i],
            'Acidez': acidez_valores[i],
            'Agua': agua_valores[i],
            'Índice padurez': indice_padurez_valores[i],
            'Calibre': random.choice(calibres),
            'Primavera': 'Sí',
            'Verano': 'No',
            'Otoño': 'Sí',
            'Invierno': 'Sí'}
    filas.append(fila)

# Creamos un DataFrame con las filas
raf = pd.DataFrame(filas)

In [ ]:
raf.head()

,Tipo,Brix,Acidez,Agua,Índice padurez,Calibre,Primavera,Verano,Otoño,Invierno
0,Raf,6.74,0.67,93.95,11.90,6,Sí,No,Sí,Sí
1,Raf,6.18,0.56,94.83,10.80,9,Sí,No,Sí,Sí
2,Raf,7.18,0.74,93.71,12.87,6,Sí,No,Sí,Sí
3,Raf,7.31,0.56,93.44,13.09,8,Sí,No,Sí,Sí
4,Raf,7.20,0.56,92.72,11.29,8,Sí,No,Sí,Sí

### TOMATES FLAMENKO CHOC PREMIUM

In [ ]:
# Creamos una lista de los calibres
calibres = ['5', '6', '7', '8']

# Creamos una lista de los valores posibles de Brix, acidez, Agua e Índice padurez
brix_valores = [round(random.uniform(6,7), 2) for _ in range(1000)]
agua_valores = [round(random.uniform(85, 90), 2) for _ in range(1000)]
indice_padurez_valores = [round(random.uniform(12, 15), 2) for _ in range(1000)]

# Creamos una lista de 1000 filas aleatorias
filas = []
for i in range(1000):
    fila = {'Tipo': 'Flamenko',
            'Brix': brix_valores[i],
            'Acidez': 0.8,
            'Agua': agua_valores[i],
            'Índice padurez': indice_padurez_valores[i],
            'Calibre': random.choice(calibres),
            'Primavera': 'Sí',
            'Verano': 'No',
            'Otoño': 'No',
            'Invierno': 'Sí'}
    filas.append(fila)

# Creamos un DataFrame con las filas
flamenko = pd.DataFrame(filas)

In [ ]:
flamenko.head()

,Tipo,Brix,Acidez,Agua,Índice padurez,Calibre,Primavera,Verano,Otoño,Invierno
0,Flamenko,6.05,0.8,87.26,12.64,5,Sí,No,No,Sí
1,Flamenko,6.30,0.8,86.28,12.93,5,Sí,No,No,Sí
2,Flamenko,6.51,0.8,86.76,14.74,6,Sí,No,No,Sí
3,Flamenko,6.66,0.8,86.96,14.07,7,Sí,No,No,Sí
4,Flamenko,6.22,0.8,88.80,12.70,5,Sí,No,No,Sí

### TOMATE ADORA

In [ ]:
# Creamos una lista de los calibres
calibres = ['5', '6', '7', '8']

# Creamos una lista de los valores posibles de Brix, acidez, Agua e Índice padurez
brix_valores = [round(random.uniform(7, 10), 2) for _ in range(1000)]
agua_valores = [round(random.uniform(85, 90), 2) for _ in range(1000)]
indice_padurez_valores = [round(random.uniform(12, 15), 2) for _ in range(1000)]

# Creamos una lista de 1000 filas aleatorias
filas = []
for i in range(1000):
    fila = {'Tipo': 'Adora',
            'Brix': brix_valores[i],
            'Acidez':0.8,
            'Agua': agua_valores[i],
            'Índice padurez': indice_padurez_valores[i],
            'Calibre': random.choice(calibres),
            'Primavera': 'Sí',
            'Verano': 'No',
            'Otoño': 'No',
            'Invierno': 'Sí'}
    filas.append(fila)

# Creamos un DataFrame con las filas
adora = pd.DataFrame(filas)

In [ ]:
adora.head()

,Tipo,Brix,Acidez,Agua,Índice padurez,Calibre,Primavera,Verano,Otoño,Invierno
0,Adora,7.26,0.8,88.72,14.52,8,Sí,No,No,Sí
1,Adora,9.84,0.8,87.49,14.76,5,Sí,No,No,Sí
2,Adora,9.04,0.8,89.86,14.01,6,Sí,No,No,Sí
3,Adora,7.47,0.8,86.73,12.39,5,Sí,No,No,Sí
4,Adora,8.46,0.8,89.75,14.89,5,Sí,No,No,Sí

## TOMATE LARGA VIDA

In [ ]:
# Creamos una lista de los calibres
calibres = ['6', '7', '8', '9']

# Creamos una lista de los valores posibles de Brix, acidez, Agua e Índice padurez
brix_valores = [round(random.uniform(5, 5.5), 2) for _ in range(1000)]
acidez_valores = [round(random.uniform(0.4, 0.5), 2) for _ in range(1000)]
agua_valores = [round(random.uniform(95, 96), 2) for _ in range(1000)]
indice_padurez_valores = [round(random.uniform(10, 12), 2) for _ in range(1000)]

# Creamos una lista de 1000 filas aleatorias
filas = []
for i in range(1000):
    fila = {'Tipo': 'Larga Vida',
            'Brix': brix_valores[i],
            'Acidez': acidez_valores[i],
            'Agua': agua_valores[i],
            'Índice padurez': indice_padurez_valores[i],
            'Calibre': random.choice(calibres),
            'Primavera': 'Sí',
            'Verano': 'No',
            'Otoño': 'Sí',
            'Invierno': 'Sí'}
    filas.append(fila)

# Creamos un DataFrame con las filas
larga_vida = pd.DataFrame(filas)

In [ ]:
larga_vida.head()

,Tipo,Brix,Acidez,Agua,Índice padurez,Calibre,Primavera,Verano,Otoño,Invierno
0,Larga Vida,5.25,0.43,95.48,11.03,7,Sí,No,Sí,Sí
1,Larga Vida,5.19,0.43,95.72,10.07,7,Sí,No,Sí,Sí
2,Larga Vida,5.17,0.42,95.30,11.51,8,Sí,No,Sí,Sí
3,Larga Vida,5.20,0.50,95.15,11.99,8,Sí,No,Sí,Sí
4,Larga Vida,5.03,0.48,95.64,10.11,6,Sí,No,Sí,Sí

## TOMATE NEGRO

In [ ]:
# Creamos una lista de los calibres
calibres = ['6', '7']

# Creamos una lista de los valores posibles de Brix, acidez, Agua e Índice padurez
brix_valores = [round(random.uniform(6,7), 2) for _ in range(1000)]
acidez_valores = [round(random.uniform(0.4, 0.6), 2) for _ in range(1000)]
agua_valores = [round(random.uniform(94, 95), 2) for _ in range(1000)]
indice_padurez_valores = [round(random.uniform(12, 15), 2) for _ in range(1000)]

# Creamos una lista de 1000 filas aleatorias
filas = []
for i in range(1000):
    fila = {'Tipo': 'Negro',
            'Brix': brix_valores[i],
            'Acidez': acidez_valores[i],
            'Agua': agua_valores[i],
            'Índice padurez': indice_padurez_valores[i],
            'Calibre': random.choice(calibres),
            'Primavera': 'Sí',
            'Verano': 'No',
            'Otoño': 'Sí',
            'Invierno': 'Sí'}
    filas.append(fila)

# Creamos un DataFrame con las filas
negro = pd.DataFrame(filas)

In [ ]:
negro.head()

,Tipo,Brix,Acidez,Agua,Índice padurez,Calibre,Primavera,Verano,Otoño,Invierno
0,Negro,6.56,0.57,94.14,14.21,6,Sí,No,Sí,Sí
1,Negro,6.41,0.49,94.81,14.70,6,Sí,No,Sí,Sí
2,Negro,6.03,0.47,94.04,12.35,7,Sí,No,Sí,Sí
3,Negro,6.75,0.58,94.27,13.42,7,Sí,No,Sí,Sí
4,Negro,6.19,0.50,94.37,12.44,6,Sí,No,Sí,Sí

## TOMATE PERA

In [ ]:
# Creamos una lista de los calibres
calibres = ['6', '7']

# Creamos una lista de los valores posibles de Brix, acidez, Agua e Índice padurez
brix_valores = [round(random.uniform(5, 6.5), 2) for _ in range(1000)]
acidez_valores = [round(random.uniform(0.3, 0.4), 2) for _ in range(1000)]
agua_valores = [round(random.uniform(92, 95), 2) for _ in range(1000)]
indice_padurez_valores = [round(random.uniform(12, 15), 2) for _ in range(1000)]

# Creamos una lista de 1000 filas aleatorias
filas = []
for i in range(1000):
    fila = {'Tipo': 'Pera',
            'Brix': brix_valores[i],
            'Acidez': acidez_valores[i],
            'Agua': agua_valores[i],
            'Índice padurez': indice_padurez_valores[i],
            'Calibre': random.choice(calibres),
            'Primavera': 'Sí',
            'Verano': 'Sí',
            'Otoño': 'Sí',
            'Invierno': 'Sí'}
    filas.append(fila)

# Creamos un DataFrame con las filas
pera = pd.DataFrame(filas)

In [ ]:
pera.head()

,Tipo,Brix,Acidez,Agua,Índice padurez,Calibre,Primavera,Verano,Otoño,Invierno
0,Pera,5.11,0.38,94.34,13.32,6,Sí,Sí,Sí,Sí
1,Pera,5.97,0.36,94.33,13.78,7,Sí,Sí,Sí,Sí
2,Pera,5.95,0.37,93.64,13.97,7,Sí,Sí,Sí,Sí
3,Pera,5.39,0.33,92.44,13.53,6,Sí,Sí,Sí,Sí
4,Pera,5.53,0.37,94.29,14.97,7,Sí,Sí,Sí,Sí

## TOMATE RAMA

In [ ]:
# Creamos una lista de los calibres
calibres = ['6', '7', '8']

# Creamos una lista de los valores posibles de Brix, acidez, Agua e Índice padurez
brix_valores = [round(random.uniform(5, 5.5), 2) for _ in range(1000)]
acidez_valores = [round(random.uniform(0.3, 0.35), 2) for _ in range(1000)]
agua_valores = [round(random.uniform(93, 95), 2) for _ in range(1000)]
indice_padurez_valores = [round(random.uniform(12, 15), 2) for _ in range(1000)]

# Creamos una lista de 1000 filas aleatorias
filas = []
for i in range(1000):
    fila = {'Tipo': 'Rama',
            'Brix': brix_valores[i],
            'Acidez': acidez_valores[i],
            'Agua': agua_valores[i],
            'Índice padurez': indice_padurez_valores[i],
            'Calibre': random.choice(calibres),
            'Primavera': 'Sí',
            'Verano': 'Sí',
            'Otoño': 'Sí',
            'Invierno': 'Sí'}
    filas.append(fila)

# Creamos un DataFrame con las filas
rama = pd.DataFrame(filas)

In [ ]:
rama.head()

,Tipo,Brix,Acidez,Agua,Índice padurez,Calibre,Primavera,Verano,Otoño,Invierno
0,Rama,5.13,0.31,93.40,12.16,7,Sí,Sí,Sí,Sí
1,Rama,5.15,0.32,94.58,12.95,6,Sí,Sí,Sí,Sí
2,Rama,5.14,0.33,94.56,14.33,6,Sí,Sí,Sí,Sí
3,Rama,5.12,0.30,93.89,12.80,7,Sí,Sí,Sí,Sí
4,Rama,5.49,0.33,93.68,13.89,6,Sí,Sí,Sí,Sí

## TOMATE REBELIÓN

In [ ]:
# Creamos una lista de los calibres
calibres = [ '7', '8', '9']

# Creamos una lista de los valores posibles de Brix, acidez, Agua e Índice padurez
brix_valores = [round(random.uniform(6, 8), 2) for _ in range(1000)]
acidez_valores = [round(random.uniform(0.3, 0.4), 2) for _ in range(1000)]
agua_valores = [round(random.uniform(94, 95), 2) for _ in range(1000)]
indice_padurez_valores = [round(random.uniform(12, 15), 2) for _ in range(1000)]

# Creamos una lista de 1000 filas aleatorias
filas = []
for i in range(1000):
    fila = {'Tipo': 'Rebelión',
            'Brix': brix_valores[i],
            'Acidez': acidez_valores[i],
            'Agua': agua_valores[i],
            'Índice padurez': indice_padurez_valores[i],
            'Calibre': random.choice(calibres),
            'Primavera': 'Sí',
            'Verano': 'Sí',
            'Otoño': 'No',
            'Invierno': 'Sí'}
    filas.append(fila)

# Creamos un DataFrame con las filas
rebelion = pd.DataFrame(filas)

In [ ]:
rebelion.head()

,Tipo,Brix,Acidez,Agua,Índice padurez,Calibre,Primavera,Verano,Otoño,Invierno
0,Rebelión,7.45,0.31,94.27,13.84,9,Sí,Sí,No,Sí
1,Rebelión,7.15,0.31,94.33,13.16,8,Sí,Sí,No,Sí
2,Rebelión,7.74,0.36,94.70,13.97,7,Sí,Sí,No,Sí
3,Rebelión,7.29,0.34,94.97,13.46,9,Sí,Sí,No,Sí
4,Rebelión,6.85,0.37,94.13,13.62,9,Sí,Sí,No,Sí

## TOMATE LISO

In [ ]:
# Creamos una lista de los calibres
calibres = ['8', '9', '10']

# Creamos una lista de los valores posibles de Brix, acidez, Agua e Índice padurez
brix_valores = [round(random.uniform(6, 6.5), 2) for _ in range(1000)]
acidez_valores = [round(random.uniform(0.35, 0.5), 2) for _ in range(1000)]
agua_valores = [round(random.uniform(96, 97), 2) for _ in range(1000)]
indice_padurez_valores = [round(random.uniform(12, 16), 2) for _ in range(1000)]

# Creamos una lista de 1000 filas aleatorias
filas = []
for i in range(1000):
    fila = {'Tipo': 'Liso',
            'Brix': brix_valores[i],
            'Acidez': acidez_valores[i],
            'Agua': agua_valores[i],
            'Índice padurez': indice_padurez_valores[i],
            'Calibre': random.choice(calibres),
            'Primavera': 'Sí',
            'Verano': 'No',
            'Otoño': 'Sí',
            'Invierno': 'Sí'}
    filas.append(fila)

# Creamos un DataFrame con las filas
liso = pd.DataFrame(filas)

In [ ]:
liso.head()

,Tipo,Brix,Acidez,Agua,Índice padurez,Calibre,Primavera,Verano,Otoño,Invierno
0,Liso,6.04,0.45,96.70,12.46,8,Sí,No,Sí,Sí
1,Liso,6.05,0.35,96.32,12.75,8,Sí,No,Sí,Sí
2,Liso,6.36,0.44,96.70,13.12,8,Sí,No,Sí,Sí
3,Liso,6.23,0.43,96.35,12.89,8,Sí,No,Sí,Sí
4,Liso,6.29,0.47,96.16,14.46,9,Sí,No,Sí,Sí

## TOMATE ROSA

In [ ]:
# Creamos una lista de los calibres
calibres = ['8', '9', '10', '11']

# Creamos una lista de los valores posibles de Brix, acidez, Agua e Índice padurez
brix_valores = [round(random.uniform(5, 5.6), 2) for _ in range(1000)]
acidez_valores = [round(random.uniform(0.4, 0.45), 2) for _ in range(1000)]
agua_valores = [round(random.uniform(96, 97), 2) for _ in range(1000)]
indice_padurez_valores = [round(random.uniform(12, 15), 2) for _ in range(1000)]

# Creamos una lista de 1000 filas aleatorias
filas = []
for i in range(1000):
    fila = {'Tipo': 'Rosa',
            'Brix': brix_valores[i],
            'Acidez': acidez_valores[i],
            'Agua': agua_valores[i],
            'Índice padurez': indice_padurez_valores[i],
            'Calibre': random.choice(calibres),
            'Primavera': 'Sí',
            'Verano': 'No',
            'Otoño': 'No',
            'Invierno': 'Sí'}
    filas.append(fila)

# Creamos un DataFrame con las filas
rosa = pd.DataFrame(filas)

In [ ]:
rosa.head()

,Tipo,Brix,Acidez,Agua,Índice padurez,Calibre,Primavera,Verano,Otoño,Invierno
0,Rosa,5.15,0.41,96.08,12.33,10,Sí,No,No,Sí
1,Rosa,5.23,0.44,96.68,12.94,9,Sí,No,No,Sí
2,Rosa,5.57,0.44,96.91,14.21,10,Sí,No,No,Sí
3,Rosa,5.26,0.43,96.09,12.42,11,Sí,No,No,Sí
4,Rosa,5.41,0.42,96.09,14.07,11,Sí,No,No,Sí

## TOMATE BEEF

In [ ]:
# Creamos una lista de los calibres
calibres = ['8', '9', '10', '11']

# Creamos una lista de los valores posibles de Brix, acidez, Agua e Índice padurez
brix_valores = [round(random.uniform(5,5.6), 2) for _ in range(1000)]
acidez_valores = [round(random.uniform(0.4, 0.45), 2) for _ in range(1000)]
agua_valores = [round(random.uniform(96, 97), 2) for _ in range(1000)]
indice_padurez_valores = [round(random.uniform(12, 15), 2) for _ in range(1000)]

# Creamos una lista de 1000 filas aleatorias
filas = []
for i in range(1000):
    fila = {'Tipo': 'Beef',
            'Brix': brix_valores[i],
            'Acidez': acidez_valores[i],
            'Agua': agua_valores[i],
            'Índice padurez': indice_padurez_valores[i],
            'Calibre': random.choice(calibres),
            'Primavera': 'Sí',
            'Verano': 'No',
            'Otoño': 'No',
            'Invierno': 'Sí'}
    filas.append(fila)

# Creamos un DataFrame con las filas
beef = pd.DataFrame(filas)

In [ ]:
beef.head()

,Tipo,Brix,Acidez,Agua,Índice padurez,Calibre,Primavera,Verano,Otoño,Invierno
0,Beef,5.51,0.41,96.72,14.13,9,Sí,No,No,Sí
1,Beef,5.38,0.42,96.38,14.78,11,Sí,No,No,Sí
2,Beef,5.06,0.41,96.79,12.15,8,Sí,No,No,Sí
3,Beef,5.42,0.44,96.72,14.20,8,Sí,No,No,Sí
4,Beef,5.13,0.44,96.74,13.75,9,Sí,No,No,Sí

## TOMATE CORAZÓN DE BUEY

In [ ]:
# Creamos una lista de los calibres
calibres = ['8', '9', '10', '11', '12', '13']

# Creamos una lista de los valores posibles de Brix, acidez, Agua e Índice padurez
brix_valores = [round(random.uniform(2.4, 3.7), 2) for _ in range(1000)]
agua_valores = [round(random.uniform(97.6, 97.8), 2) for _ in range(1000)]
indice_padurez_valores = [round(random.uniform(12.1, 13.2), 2) for _ in range(1000)]

# Creamos una lista de 1000 filas aleatorias
filas = []
for i in range(1000):
    fila = {'Tipo': 'Corazón de Buey',
            'Brix': brix_valores[i],
            'Acidez': 0.3,
            'Agua': agua_valores[i],
            'Índice padurez': indice_padurez_valores[i],
            'Calibre': random.choice(calibres),
            'Primavera': 'Sí',
            'Verano': 'No',
            'Otoño': 'Sí',
            'Invierno': 'Sí'}
    filas.append(fila)

# Creamos un DataFrame con las filas
corazon_buey = pd.DataFrame(filas)

In [ ]:
corazon_buey.head()

,Tipo,Brix,Acidez,Agua,Índice padurez,Calibre,Primavera,Verano,Otoño,Invierno
0,Corazón de Buey,2.86,0.3,97.69,12.80,11,Sí,No,Sí,Sí
1,Corazón de Buey,2.71,0.3,97.60,13.10,11,Sí,No,Sí,Sí
2,Corazón de Buey,3.56,0.3,97.67,12.25,10,Sí,No,Sí,Sí
3,Corazón de Buey,3.42,0.3,97.75,12.12,11,Sí,No,Sí,Sí
4,Corazón de Buey,3.65,0.3,97.67,12.98,13,Sí,No,Sí,Sí

## TOMATE SAN MARZANO

In [ ]:
# Creamos una lista de los calibres
calibres = ['8', '9', '10', '11', '12', '13']

# Creamos una lista de los valores posibles de Brix, acidez, Agua e Índice padurez
brix_valores = [round(random.uniform(3.6, 4.1), 2) for _ in range(1000)]
agua_valores = [round(random.uniform(95.5, 96), 2) for _ in range(1000)]
indice_padurez_valores = [round(random.uniform(12.7, 14.4), 2) for _ in range(1000)]

# Creamos una lista de 1000 filas aleatorias
filas = []
for i in range(1000):
    fila = {'Tipo': 'San Marzano',
            'Brix': brix_valores[i],
            'Acidez': 0.3,
            'Agua': agua_valores[i],
            'Índice padurez': indice_padurez_valores[i],
            'Calibre': random.choice(calibres),
            'Primavera': 'Sí',
            'Verano': 'Sí',
            'Otoño': 'No',
            'Invierno': 'Sí'}
    filas.append(fila)

# Creamos un DataFrame con las filas
san_marzano = pd.DataFrame(filas)

In [ ]:
san_marzano.head()

,Tipo,Brix,Acidez,Agua,Índice padurez,Calibre,Primavera,Verano,Otoño,Invierno
0,San Marzano,3.90,0.3,95.80,12.99,10,Sí,Sí,No,Sí
1,San Marzano,4.00,0.3,95.54,13.69,10,Sí,Sí,No,Sí
2,San Marzano,3.72,0.3,95.77,13.38,13,Sí,Sí,No,Sí
3,San Marzano,3.68,0.3,95.77,13.88,10,Sí,Sí,No,Sí
4,San Marzano,3.85,0.3,95.82,14.14,11,Sí,Sí,No,Sí

## TOMATE CORAZÓN DE CASI

In [ ]:
# Creamos una lista de los calibres
calibres = ['8', '9', '10']

# Creamos una lista de los valores posibles de Brix, acidez, Agua e Índice padurez
brix_valores = [round(random.uniform(3.5, 4.7), 2) for _ in range(1000)]
acidez_valores = [round(random.uniform(0.2, 0.3), 2) for _ in range(1000)]
agua_valores = [round(random.uniform(96.7, 97.9), 2) for _ in range(1000)]
indice_padurez_valores = [round(random.uniform(13.8, 18.4), 2) for _ in range(1000)]

# Creamos una lista de 1000 filas aleatorias
filas = []
for i in range(1000):
    fila = {'Tipo': 'Corazon Casi',
            'Brix': brix_valores[i],
            'Acidez': acidez_valores[i],
            'Agua': agua_valores[i],
            'Índice padurez': indice_padurez_valores[i],
            'Calibre': random.choice(calibres),
            'Primavera': 'No',
            'Verano': 'No',
            'Otoño': 'Sí',
            'Invierno': 'Sí'}
    filas.append(fila)

# Creamos un DataFrame con las filas
corazon_casi = pd.DataFrame(filas)

In [ ]:
corazon_casi.head()

,Tipo,Brix,Acidez,Agua,Índice padurez,Calibre,Primavera,Verano,Otoño,Invierno
0,Corazon Casi,4.61,0.24,97.69,17.45,8,No,No,Sí,Sí
1,Corazon Casi,3.58,0.25,97.50,15.03,10,No,No,Sí,Sí
2,Corazon Casi,3.89,0.28,97.31,18.15,8,No,No,Sí,Sí
3,Corazon Casi,4.47,0.22,97.53,17.36,9,No,No,Sí,Sí
4,Corazon Casi,4.40,0.25,96.94,17.72,9,No,No,Sí,Sí

In [ ]:
junto = pd.concat([cherry_redondo, cherry_pera, cherry_rama, raf, flamenko, adora, larga_vida, negro, pera, rama, rebelion, liso, rosa, beef, corazon_buey, san_marzano, corazon_casi])

In [ ]:
junto

,Tipo,Brix,Acidez,Agua,Índice padurez,Calibre,Primavera,Verano,Otoño,Invierno
0,Cherry Redondo,6.87,0.62,86.65,10.71,1,Sí,No,Sí,Sí
1,Cherry Redondo,6.95,0.63,87.98,11.16,2,Sí,No,Sí,Sí
2,Cherry Redondo,7.46,0.66,86.03,11.26,1,Sí,No,Sí,Sí
3,Cherry Redondo,7.14,0.68,86.01,11.21,3,Sí,No,Sí,Sí
4,Cherry Redondo,7.12,0.61,86.82,11.29,2,Sí,No,Sí,Sí
...,...,...,...,...,...,...,...,...,...,...
995,Corazon Casi,3.74,0.30,97.23,15.59,8,No,No,Sí,Sí
996,Corazon Casi,3.80,0.30,97.68,15.84,8,No,No,Sí,Sí
997,Corazon Casi,4.01,0.21,96.97,15.89,10,No,No,Sí,Sí
998,Corazon Casi,4.53,0.20,97.06,14.47,9,No,No,Sí,Sí
999,Corazon Casi,4.63,0.30,97.64,15.82,8,No,No,Sí,Sí

Mezclamos los datos y posteriormente los guardamos para realizar la limpieza y exploración de los datos

In [ ]:
import sklearn

In [ ]:
df_shuffled=junto.sample(frac=1).reset_index(drop=True)

In [ ]:
df_shuffled

,Tipo,Brix,Acidez,Agua,Índice padurez,Calibre,Primavera,Verano,Otoño,Invierno
0,Beef,5.28,0.42,96.25,14.16,9,Sí,No,No,Sí
1,Rosa,5.48,0.41,96.80,12.73,8,Sí,No,No,Sí
2,Liso,6.13,0.37,96.22,12.07,9,Sí,No,Sí,Sí
3,Beef,5.59,0.44,96.92,12.70,11,Sí,No,No,Sí
4,Pera,5.57,0.33,94.04,13.32,6,Sí,Sí,Sí,Sí
...,...,...,...,...,...,...,...,...,...,...
16995,Rebelión,6.06,0.37,94.97,12.40,7,Sí,Sí,No,Sí
16996,Adora,9.32,0.80,85.63,12.88,5,Sí,No,No,Sí
16997,San Marzano,3.98,0.30,95.54,13.01,10,Sí,Sí,No,Sí
16998,San Marzano,4.01,0.30,95.81,14.27,12,Sí,Sí,No,Sí
16999,Flamenko,6.95,0.80,87.81,14.33,6,Sí,No,No,Sí

In [ ]:
df_shuffled.to_csv('/content/drive/MyDrive/UAX/Inteligencia Artificial/Tomates de Almería/datos_sin_procesar.csv')